/* themes */

/* banana */
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light');

/* bit */
@import url('https://fonts.googleapis.com/css2?family=VT323');


/* @font-face {
  font-family: 'SGK100';
  src: local('SGK100'), url('./themes/bit/SGK100.ttf') format('truetype');
} */

.theme-banana {
  --game-font-family: Arial, sans-serif;
  --game-font-size: 16px;
  --game-font-letter-spacing: inherit;
  --game-background-color: inherit;
  --game-color: inherit;
  --game-tap-highlight-color: #8268314f;

  --header-background-color: #ffee99;
  --header-title-font-family: 'Shadows Into Light', cursive;

  --button-color: black;
  --button-color-disabled: #00000052;
  --button-background-color: transparent;
  --button-background-color-hover: #ffe979;
  --button-background-color-disabled: transparent;
  --button-border-color: #0000004a;
  --button-border-radius: 3px;

  --input-background-color: #fff;
  --input-color: inherit;

  --dropdown-background-image: url('./banana/triangle-down.svg');

  --square-border: 1px solid #adadad;
  --square-background-image-url-player-x: url("./banana/glyph-x.svg");
  --square-background-image-url-player-o: url("./banana/glyph-o.svg");
  --square-background-color-win: #bbffbb;

  --score-board-player-background-color: #ffe979;
  --score-board-score-background-color: #fff;
  --score-board-background-image-url-player-x: url("./banana/glyph-x.svg");
  --score-board-background-image-url-player-o: url("./banana/glyph-o.svg");
  --score-board-score-font-size: 20px;
  --scoreboard-gap: 20px;

  --settings-button-background-image-url: url("./banana/settings.svg");

  --board-border: solid 2px #7d7d7d;
  --board-border-radius: 5px;
  --board-background-color: white;
  --board-shadow: 2px 3px 7px -5px #0000005c;
  --board-padding: 0;
}

.theme-bit {
  --game-font-family: 'VT323';
  --game-font-size: 20px;
  --game-font-letter-spacing: inherit;
  --game-background-color: black;
  --game-color: white;
  --game-tap-highlight-color: #0000ff7d;

  --header-background-color: inherit;
  --header-title-font-family: inherit;

  --button-color: white;
  --button-color-disabled: darkred;
  --button-background-color: black;
  --button-background-color-hover: blue;
  --button-background-color-disabled: transparent;
  --button-border-color: pink;
  --button-border-radius: 0;

  --input-background-color: lightgrey;
  --input-color: #000;

  --dropdown-background-image: url('./bit/triangle-down.svg');

  --square-border: 3px solid white;
  --square-background-image-url-player-x: url("./bit/glyph-x.svg");
  --square-background-image-url-player-o: url("./bit/glyph-o.svg");
  --square-background-color-win: blue;

  --settings-button-background-image-url: url("./bit/settings.svg");

  --score-board-player-background-color: white;
  --score-board-score-background-color: blacks;
  --score-board-background-image-url-player-x: url("./bit/glyph-x-small.svg");
  --score-board-background-image-url-player-o: url("./bit/glyph-o-small.svg");
  --score-board-score-font-size: 30px;
  --scoreboard-gap: 50px;

  --board-border: 0;
  --board-border-radius: 0;
  --board-background-color: black;
  --board-shadow: none;
  --board-padding: 20px;
}

.theme-unicorn {
}

.theme-wood {
}

.theme-retro {
}
