.board {
  overflow: hidden;
  border-radius: 5px;
  border: solid 1px #999;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.board .board-row:last-of-type .square {
  border-bottom:0; /* hack to hide double border on bottom side of board */
}

.square:first-of-type {
  border-left:0; /* hack to hide double border on left side of board */
}

.square {
  width: 58px;
  height: 58px;
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 42px;
  font-weight: bold;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.square:focus {
  outline: none;
}

.square:not(.disabled):hover {
  background-color: #f0f0f0;
}

.square.disabled:hover {
  background-color: #fff;
}

.square.disabled {
  color: black;
}

.square.winner,
.square.winner:hover {
  background-color: lightgreen;
}
