.btn {
  background: none;
  padding: 5px 15px;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 3px;
  border: solid 1px #c5c5c5;
  outline: 0;
}

.btn.disabled {
  cursor: default;
  outline: 0;
  color: #bdbdbd;
}

@media (hover: hover) {

  /* only show button hover effects if the device supports it (otherwise it looks silly) */

  .btn:not(.disabled):hover {
    background-color: #f3f3f3;
  }

}

.btn.hidden {
  display: none;
}

@media only screen and (max-width: 800px) {
  .btn {
    padding: 10px 20px;
  }
}
