.btn {
  background-color: var(--button-background-color);
  padding: 5px 15px;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 3px;
  border: solid 1px var(--button-border-color);
  outline: 0;
}

.btn.disabled {
  cursor: default;
  outline: 0;
  color: var(--button-color-disabled);
  background-color: var(--button-background-color-disabled);
}

@media (hover: hover) {

  /* only show button hover effects if the device supports it (otherwise it looks silly) */

  .btn:not(.disabled):hover {
    background-color: var(--button-background-color-hover);
  }

}

.btn.hidden {
  display: none;
}

@media only screen and (max-width: 800px) {
  .btn {
    padding: 10px 20px;
  }
}
