.input-stepper {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  flex-direction: row;
  align-items: stretch;
  background-color: var(--input-background-color);
  color: var(--input-color);
  border-radius: var(--button-border-radius);
}

.input-stepper label {
  display: flex;
  width: 30px;
  padding-bottom: 1px;
  justify-content: center;
  align-items: center;
  margin: 0 0;
  border: var(--button-border);
  border-right: 0;
  border-left: 0;
  box-sizing: border-box;
  z-index: 0;
  outline: none;
  padding: 5px 15px;
}

.input-stepper button {
  padding: 0 10px 2px 10px;
  border: var(--button-border);
  box-sizing: border-box;
  background-color: transparent;
  font-family: monospace;
  font-size: 22px;
  line-height: 0;
  overflow: hidden;
  z-index: 1;
  border-radius: var(--button-border-radius);
  color: var(--input-color);
}

.input-stepper button:first-of-type {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
}

.input-stepper button:last-of-type {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
}

@media (hover: hover) {

  /* only show button hover effects if the device supports it (otherwise it looks silly) */
  .input-stepper button:not(.disabled):hover {
    background-color: var(--button-background-color-hover);
  }

}

@media only screen and (max-width: 800px) {

  .input-stepper label  {
    padding: 10px 15px;
  }

}
