.score-board {
  grid-column-start: 2;
  margin: 0 auto 0 auto;
  display: grid;
  grid-template-columns: auto auto;
  gap: var(--scoreboard-gap);
  justify-content: center;
}

.score-board .winner {
  /*background-color: lightgreen;
  transition: background-color .5s .1s;*/
}

.score-board .player {
  border: var(--score-board-player-border);
  border-radius: var(--button-border-radius);
  overflow: hidden;
  box-shadow: 2px 3px 7px -5px #0000005c;
  min-width: var(--score-board-player-min-width);
}

.score-board .player div {
  padding: var(--score-board-player-padding);
  text-align: center;
  font-size: var(--score-board-score-font-size);
}

.score-board .player .title {
  height: var(--score-board-score-font-size);
  background-color: var(--score-board-player-background-color);
  background-size: var(--score-board-player-background-size);
  background-position: center;
  background-repeat: no-repeat;
}

.score-board .player .score {
  background-color: var(--score-board-score-background-color);
}

.score-board .player-x .title {
  background-image: var(--score-board-background-image-url-player-x);
}

.score-board .player-o .title {
  background-image: var(--score-board-background-image-url-player-o);
}
