.score-board {
  grid-column-start: 2;
  margin: 0 auto 0 auto;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  justify-content: center;
}

.score-board span:nth-of-type(2){
  margin: 0 0 0 10px;
  font-weight: bold;
}

.score-board .winner {
  /*background-color: lightgreen;
  transition: background-color .5s .1s;*/
}

.score-board .player {
  border: solid 1px var(--button-border-color);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 2px 3px 7px -5px #0000005c;
}

.score-board .player div {
  padding: 5px 20px 5px 20px;
  text-align: center;
  font-size: 20px;
}

.score-board .player .title {
  height: 20px;
  /* background-color: #ffe979; */
  background-size: 18px;
  background-position: center;
  background-repeat: no-repeat;
}

.score-board .player .score {
  background-color: #fff;
}

.score-board .player-x .title {
  background-image: url("../img/theme-default/glyph-x.svg");
}

.score-board .player-o .title {
  background-image: url("../img/theme-default/glyph-o.svg");
}
