* {
	box-sizing: content-box;
	user-select: none;
	cursor: default;
	transition: all 0.2s ease-out;
}

body {
  font: 14px sans-serif;
  margin: 0;

}

html, body {
	height: 100%;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 32px;
  font-weight: bold;
  line-height: 34px;
  height: 40px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 40px;
  cursor: pointer;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
  flex-direction: column;
}

.game-info {
 
}

.square.winner {
	background-color: lightgreen;
}

.play-again {
	display: flex;
  align-items: center;
  justify-content: center;
	margin: 20px 0 0 0;
}

.play-again button {
	background: none;
	background-color: lightgrey;
	padding: 10px 20px;
	border: none;
	box-sizing: border-box;
	cursor: pointer;
}

.play-again button:hover {
	background-color: #c0c0c0;
	/* border: solid 1px darkgrey; */
}

.hidden {
	display: none;
}

.game-board {
	border: solid #f0f0f0 20px;
	background-color: #f0f0f0;
}

.score-board {
	margin: 0 auto 20px auto;
	background-color: #f0f0f0;
	display: grid;
	grid-template-columns: auto auto;
  justify-content: center;
	grid-gap: 20px;
	max-width: 250px; 
	font-size: 16px;
}

.score-board span:nth-of-type(2){
	margin: 0 0 0 10px;
	font-weight: bold;
}

.score-board div {
	background-color: #d0d0d0;
	padding: 5px 10px;
}

.score-board .winner {
	background-color: lightgreen;
	transition: background-color .5s .1s;
}

.status {
  margin: 20px 0 0 0;
  text-align: center;
}

.noPointer {
	cursor: default;
}